body {
    text-transform: uppercase;
    font-family: "open sans condensed" ,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 300;
}

p {
	font-family: 'Open Sans', sans-serif;
  text-transform: none;
	font-weight: lighter;
  color: white;
}


p::first-letter {
    font-size: 200%;
	color: #903;
	line-height:1;
}

.panel-body p::first-letter {
    font-size: 200%;
  color: #665E28;
  line-height:1;
}

h1 {
  font-family: 'Covered By Your Grace', cursive;
  font-size: 4em;
}
h2 {
  font-family: 'Covered By Your Grace', cursive;
  color: white;
}
h1, h3, h4 {
	color: #f2f2f2;
	font-weight: normal;
	text-align: center;
  letter-spacing: 0.1em;
}
h3 {
	font-size: 2em;
	font-weight:bold;
}


.centerbuttons h3 {
  font-size: 2em;
}
a {
  color: rgb(37,22,19);
}

.fp-tableCell {
  vertical-align: top
}

.fp-controlArrow.fp-prev{
    border-color: transparent rgba(174, 102, 102, 0.5) transparent transparent;
}
.fp-controlArrow.fp-next {
    right: 15px;
    border-width: 38.5px 0 38.5px 34px;
    border-color: transparent transparent transparent rgba(174, 102, 102, 0.5);
}

#fp-nav {
    top:110px;
}

#fp-nav.right {
    right: 10px;
}

#fp-nav ul {
}

#fp-nav ul li a span, 
.fp-slidesNav ul li a span {
    background: white;
    width: 4px;
    height: 4px;
    margin: -2px 0 0 -2px;
}

#fp-nav ul li a.active span, 
.fp-slidesNav ul li a.active span, 
#fp-nav ul li:hover a.active span, 
.fp-slidesNav ul li:hover a.active span {
    width: 16px;
    height: 16px;
    margin: -8px 0 0 -8px;
    background: transparent;
    box-sizing: border-box;
    border: 2px solid #808080
;
}

#fp-nav ul li .fp-tooltip {
    position: absolute;
    top: -2px;
    color: #a6a6a6;
    font-size: 24px;
    white-space: nowrap;
    max-width: 220px;
    overflow: hidden;
    display: block;
    opacity: 0;
    width: 0;
    font-family: "Oswald";
    font-weight: 300;
    letter-spacing: 0.2em;
}

.navbar-fixed-bottom .navbar-collapse, .navbar-fixed-top .navbar-collapse {
    max-height: 380px;
}

.mute {
    float:left;
    position: fixed;
    color: #000;
    top: 20px;
    left: 15px;
    opacity: 0.5;
}

#myVideo {  
max-height: 810px;
}
.bigwords {
	color: #903;
	font-size: 220%;
	font-weight: bold;
}
#section1{
    overflow: hidden;
  }

#myVideo {  
	max-height: 810px;
}
.footer {
    position: fixed;
    height: 80px;
	width: 100%;
    background: rgba(0,0,0,0);
    z-index: 100;
    text-align: left;
    color: #f2f2f2;
    bottom: 0px;
}

.pullright {
    text-align: right;
    display: inline;
    float:right;
    width: 49%;
    margin-top: 1%;
    font-size: 25px;
}

.pullleft {
    height: 80px;
    display: inline;
    text-align: left;
    float:left;
    width: 49%;
    padding-left: 10px;
    padding-bottom: 10px;
}

.socialbtn{
    border:3px solid #FFF;
    text-align: center;
    line-height: 1.8em;  
    width: 50px;
    height: 50px;
    border-radius: 27px;
    -moz-border-radius:27px;
    -webkit-border-radius:27px;
}

.footerbottom {
	position: absolute;
	bottom: 65px;
	float: right;
	height: 35px;
	background-color: transparent;
	color: #fff;
	width: 100%;
	text-align: right;
	right: 2%;
	opacity: 0.7
}

.fa {
	color: #f2f2f2;
}

.socialmedia {
    list-style-type: none;
    padding: 0;
}
.socialmedia li {
	display: inline;
	padding-right: 15px;
}

#section1 { 
  /*background: url(http://il4.picdn.net/shutterstock/videos/9319601/thumb/1.jpg?i10c) no-repeat center center ; */
  background: url('../images/mobilehome.jpg');
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

img {
    max-width: 100%;
    max-height: 100%;      
}

.panel {
	border: none;
}

.well {
    margin-bottom: 0px;
}

#section2 { 
  /*background: url(https://wallpaperscraft.com/image/guitar_strings_strips_17680_1920x1080.jpg) no-repeat center center ; */
  background: url('../images/album - Copy.jpg');
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.nowavailable {
    background: rgba(255,255,255,0.9);
    width: 100%;
    height: 89px;
}
.nowavailabletext{
    color: black;
    line-height: 90px;
    font-size: 3.2em;
}
.albumcover {
  opacity: 1;
  width: 75% !important;
  margin-right: 0;
}
.spacing {
  padding-right: 10px;
  vertical-align: -65%;
}



.centerbuttons h3 {
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
}

.amazon {
  width: 100%;
  height: 80px;
  background-color: rgba(227,166,2,0.9);
  line-height: 70px;
}

.amazon:hover {
    background-color: rgba(227,166,2,1);
}

.google {
  width: 100%;
  height: 80px;
  background-color: rgba(138,207,124,0.9);
  line-height: 70px;
}

.google:hover {
  background-color: rgba(138,207,124,1);
}

.spotify {
  width: 100%;
  height: 80px;
  background-color: rgba(134,188,220,0.9);
  line-height: 70px;
}

.spotify:hover {
  background-color: rgba(134,188,220,1);
}
.itunes{
  width: 100%;
  height: 80px;
  background-color: rgba(219,91,74,0.9);
  line-height: 70px;  
}
.itunes:hover {
    background-color: rgba(219,91,74,1);
}
.centerbuttons {
	text-align: center;
  margin-top: -20px;
}

#section3 { 
  background: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 1)), url('https://wallpaperscraft.com/image/guitar_strings_strips_17680_1920x1080.jpg');
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.newspanel {
  height:375px;
  background-color: rgba(0,0,0,0.7);
  border: 1px solid white;
}
.panel-heading {
  background-color: transparent !important;
  background-image: none !important;
}
.content1, .content2, .content3 {
	position:relative;
	top:-250px;
	display:none;
}
.newstitle1, .newstitle2, .newstitle3 {
	height: 250px;
	font-size: 45px;
	text-align: center;
	padding-top: 25px;
}

.addpad {
	padding-left:10px;
	padding-right:10px;
}

.linktext {
	display: inline-block;
	vertical-align: middle;
	line-height: normal;
	position:absolute;
	width:100%;
	height:100%;
	top:0;
	left: 0;
	z-index: 1;
}


a:hover {
	text-decoration: none
}

/*-----------------------------------------*/
#section4 { 
}

.column {
	padding: 0;
}
.column:last-child {
	padding-bottom: 0px;
}
.column::after {
	content: '';
	clear: both;
	display: block;
}
.column div {
	position: relative;
	float: left;
	margin: 0;
	padding: 0;
}
.column div:first-child {
	margin-left: 0;
}
.column div span {
	position: absolute;
	bottom: -20px;
	left: 0;
	z-index: -1;
	display: block;
	width: 300px;
	margin: 0;
	padding: 0;
	color: #444;
	font-size: 18px;
	text-decoration: none;
	text-align: center;
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
	opacity: 0;
}
.column:last-child {
    padding-bottom: 0px;
}
.nopadding {
    padding-right: 0;
    padding-left: 0;
}
figure {
	margin: 0;
	padding: 0;
	overflow: hidden;
}
figure:hover+span {
	bottom: -36px;
	opacity: 1;
}
figure {
  background: #FFF;
}
figure:hover img {
    opacity: .85;
}

.photogallery {
    margin-top:0;
    padding-right: 0px;
    padding-left: 0px;
    margin-right: auto;
    margin-left: auto;
}

.photogal {
  padding:0;
}
/*-----------------------------------------*/
.panel-transparent {
        background: none;
    }
.panel-heading {
   padding: 10px 15px;
}
.panel-body {
  padding: 0;
}
.panel-transparent .panel-heading{
        background: rgba(255, 255, 255, 0)!important;
        border:none;
    }
.CDback {
	position: relative;
	top:0px;
	background: rgba(0,0,0,0.6);
	height:100%;
	width: 100%;
	border: 2px solid #ddd;
    border-radius: 4px;
      z-index:  1;
}
.thumbnail {
  position: relative;
  z-index: 500;
  background: black;
  margin-bottom: 0px;
  height:auto;
  width: auto;
}

.discography {
	position: relative;
	top:0;
	left:auto;
	z-index: 999;
	display:none;
  opacity:  0.99;
}



.red, .green {
  position: absolute;
  width: 90%;
  color: white;
  line-height: 210%;
  text-align: left;
}

.red {
  z-index: 1;
  top: 60px;
  background: black;
}

.green {
  top: 60px;
  background: black;
  height:auto;
}

@media (max-width: 1210px){
  .CDPlaceHolder {
    min-height: 450px;
  }
}
@media (max-width: 768px){
  .CDPlaceHolder {
    min-height: 700px;
  }
}
@media (max-width: 500px){
  .CDPlaceHolder {
    min-height: 400px;
  }
  h1 {
    font-size: 48px;
  }
}

.CDPlaceHolder {
  width: 100%; 
}

.image1, .list1 {
  position: absolute;
  width: auto;
  color: white;
  text-align: left;
  line-height: 100px;
}

.image1 {
  z-index: 1;
  background: red;
}

.list1 {
  top: 25%;
  background: green;
}
#show2, #show3 {
  position: relative; 
	width: auto;
	height: auto;
	margin-right: auto;
  margin-left: auto;
	background-color: black;
}

.panel-transparent .panel-body{
        background: rgba(255, 255, 255, 0)!important;
    }
#section5 { 
  background: url('http://s19.postimg.org/diaael00j/Mutual_V1_011.jpg');
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

ol, ul {
    margin-top: 0;
    margin-bottom: 0px;
    color: white;
    font-size: 15px;
    font-family: "oswald";
	letter-spacing: .1em 
}

.nottransparent{
  z-index: 20;
}
/*-----------------------------------------*/
#section6 { 
  background: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 1)), url('http://s19.postimg.org/elueqjknn/CROWD_V1_003.png');
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/*-----------------------------------------*/

#section7 { 
  background: url('../images/Mutual_V1_018.jpg');
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: #FFF;
}

.tablebg {
	background: #000;
	opacity: 0.7;
}
/*-----------------------------------------*/
/*Zack*/
#section8a { 
/*  background: url('../images/Mutual_V1_010.jpg');*/
  background: url('http://s17.postimg.org/rel9yofkv/Mutual_V1_010.jpg');
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: 50%; 
}
/*Dan*/
#section8b { 
  background: url('http://s19.postimg.org/b7c8aep8z/Mutual_V1_017.jpg');
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
    background-position: 25%; 
}
/*Joseph*/
#section8c { 
  background: url('http://s19.postimg.org/y7ivmqn2r/Mutual_V1_023.jpg');
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
    background-position: 75%; 
}
/*Evan*/
#section8d { 
  background: url('http://s19.postimg.org/3ot31rxw3/Mutual_V1_013.jpg');
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
    background-position: 50%; 
}

.aboutme {
	color: #FFF;
	background-color: #000;
	opacity: 0.65;
}

#section9 { 
  /*background: url(http://il4.picdn.net/shutterstock/videos/9319601/thumb/1.jpg?i10c) no-repeat center center ; */
  background: linear-gradient(rgba(0, 0, 0, .25), rgba(0, 0, 0, .85)), url('http://il4.picdn.net/shutterstock/videos/9319601/thumb/1.jpg?i10c');
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.leftalign {
  text-align: left;
}

@media (max-width: 1210px){
    .footer, #myVideo, .mute { 
        display : none; 
        visibility : hidden; 
    }

    .albumcover { 
        margin-right: auto;
        margin-left:auto;
    }
}
